* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: #cfeef3;
  padding: 8px;
}

:root {
  --sidebar: #0d3e86;
}
a {
  text-decoration: none;
  color: inherit;
}

.layout {
  display: flex;
  min-height: 100vh;
}
.sidebar {
  width: 200px;
  background: var(--sidebar);
  color: white;
  border: none;
  border-radius: 12px 0px;
  padding: 1rem;
}

.main {
  flex: 1;
  padding: 20px;
}
.avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.menu {
  list-style: none;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu li {
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}
.menu li.active {
  background: rgba(255, 255, 255, 0.15);
}

.input {
  outline: none;
  padding: 8px 12px;
  width: 100%;
  border: 0.5px solid;
  border-radius: 12px;
}

.title {
  font-size: larger;
  font-weight: bold;
  margin: 20px 0px;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card {
  padding: 2rem;
  color: white;
  border: none;
  border-radius: 6px;
  text-align: start;
  min-width: 200px;
}

.card-1 {
  background: #6b63ff;
}
.card-2 {
  background: #0db0d7;
}
.card-3 {
  background: pink;
}
.card-4 {
  background: skyblue;
}

.card h2 {
  font-size: large;
  font-weight: 600;
}

.card-11 h2 {
  font-size: large;
  font-weight: 600;
}

.card-11 {
  padding: 2rem;
  background: white;
  border: none;
  border-radius: 6px;
  text-align: start;
  min-width: 154px;
}
